@font-face {
    font-family: BankGothic;
    src: url(fonts/BankGothic.ttf);
}
@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Birdman;
    src: url(fonts/BIRDMAN_.ttf);
}
body {
	font-family: "Lato", sans-serif;
	margin: 0 auto;
	color: #a7a9ab;
    background: #111;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
p {
	margin: 0;
}
.rotate {
    position: absolute;
    transform: rotate(-180deg);
    margin-top: 2px;
}
.left-container {
	position: relative;
	float: left;
	width: 185px;
	height: 100vh;
	padding: 10px;
}
.server-stats {
	font-family: "BankGothic", sans-serif;
	font-size: 12px;
}
.channel-info {
	font-size: 55px;
    color: #ddd;
    /*margin-top: 20px;*/
    /*text-align: center;*/
    font-family: "Birdman", sans-serif;
    position: absolute;
    left: 60px;
    top: 101px;
}
.channel-picker {
	position: fixed;
	bottom: 0;
	width: 180px;
}
.channel-picker>ul{
    font-size: 15px;
    list-style: none;
    -webkit-padding-start: inherit;
    padding:0;
}
.channel-picker>ul>li{
    border-bottom: 1px solid #444;
}
.channel-picker>ul>li>a{
    background: transparent;
    position: relative;
    display: block;
    cursor: pointer;    
    color: #aaa;
    text-decoration: none;
    transition: padding .3s ease-out;
    /*padding: 7px 15px;*/
    padding: 0.8em 1.7em 0.8em 2.25em;
}
.channel-picker>ul>li>a:hover {
    border-left: 4px solid darkslategrey;
    background: rgba(80, 80, 80, 0.5);    
    text-decoration: none;
    /*padding: 3px 7px;*/
    padding: 0.3em 1.7em 0.3em 0.75em;
}
.channel-picker>ul>li>a:active, .router-link-active{
    border-left: 3px solid darkcyan !important;
    background: rgba(80, 80, 80, 0.6) !important;  
    text-decoration: none !important;
}
.channel-picker>ul>li>a:hover, .channel-picker>ul>li>a:active, .channel-picker>ul>li>a:focus {
    outline: 0;
}
.channel-picker>ul>li>a:hover span, .router-link-active span{
    background: transparent;
    transition: all 0.35s ease;
}
.channel-abr, .channel-comment, .channel-picker>ul>li>a{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*RIGHT SIDE :D*/
.right-container {
	width: calc(100% - 185px);
	float: left;
	padding: 10px;
}
/*POSTS*/
.post-list {
	float: none;
	margin: 0 auto;
}
.posts { /*zašto se ovo ne zove post nego ima s, why whyyy*/
	background: transparent;
    height: auto;
    min-height: 100px;
    transition: all .3s ease-out;
    position: relative;
    border-bottom: 1px solid white;
    /*box-sizing: content-box !important;*/
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
    clear:both;
}
.posts ul {
    display: inline-block;
}
.posts:hover{
    cursor: pointer;
    background: rgba(150, 150, 150, 0.1);
}
.post-container {
	min-height: 150px;
	position: relative;
}
.post-stats {
	text-align: right;
	margin-bottom: 5px;
	font-family: "BankGothic", sans-serif;
	font-size: 12px;
}
.posts img {
	height: 150px;
	opacity: 0.1;
	margin-right: 10px;
}
.post-open-handler {
	position: absolute;
	bottom: 0;
	right: 0;
}
.img-open {
	content: "close";
}
/*NEW COMMENT*/
.new-post {
	margin-top: 10px;
	position: relative;
	overflow: hidden;
}
.new-post-img {
	float: left;
	border: 1px dotted grey;
	outline: none;
	box-shadow: none;
	text-shadow: none;
	cursor: pointer;
	transition: all 0.3s ease;
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.new-post-text {
	width: 400px;
	resize: none;
	border: none;
	border-bottom: 1px solid #BBB;
	height: auto;
	height: 30px;
	min-height: 30px; /*bubu >.>*/
	max-height: 30px;
	font-size: 30px;
	font-weight: 100;
	outline: none;
	color: #AAA;
	overflow: hidden;
	min-height: 50px;
	background: none;
	transition: width 0.3s ease;
}
.new-post-text:focus {
	width: calc(100% - 315px);
	max-height: 500px;
	min-height: 150px;
}
.post-button {
    visibility: hidden !important;
    width: 0px;
    height: 150px;
    float: right;
    color: whitesmoke;
    background: none;
    border: 1px solid #BBB;
    transition: all 0.3s ease;
    opacity: 0;
}
.new-post-text:focus + .new-post-img, .new-post img:hover{
    visibility: visible;
    opacity: 0.5;
    width: 150px;
    height: 150px;
    margin-right: 6px;
    transition: all 0.3s ease;
}
.new-post-text:focus ~ .post-button, .post-button:hover {
    visibility: visible !important;
    opacity: 1;
    width: 150px;
    transition: all 0.3s ease;
    transition-property: width, opacity;
}
.posts-preview {
	width: 0px;
	height: 0px;
	padding: 0px;
	min-height: 0px;
	visibility: hidden;
}
/*.new-post-text:focus + .posts-preview {
	width: 150px;
	min-height: 150px;
	visibility: inherit;
}*/ /*js stuff*/