@font-face {
    font-family: "BankGBold";
    src: url("fonts/BankGothic Bold.ttf");    
}
* {
    box-sizing: inherit !important;
}
body{
    font-family: "Comic Sans MS" !important;
    background: url(images/bg3.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.channel-picker{
    position: fixed;
    left: 0px;
    bottom: 10px;
}
.channel-picker>ul{
    font-size: 18px !important;
    font-family:"Segoe UI";
    list-style: none;
}
.channel-picker>ul>li{
    border-bottom: 1px solid #BBB;
}
.channel-picker>ul>li>a{
    color: #BBB;
    background: transparent;
    padding: 0.3em 1.7em 0.3em 0.75em;
    margin: .5em 0 .5em 1.5em;
    position: relative;
    display: block;
    *padding: .4em;
    cursor: pointer;
    
    color: #AAA;
    text-decoration: none;
    transition: all .3s ease-out;
}
.channel-comment{
    font-size: 12px;
}
.channel-picker>ul>li>a:hover{
    border-left: 5px solid darkslategrey;
    background: rgba(80, 80, 80, 0.5);
    margin: 0;
    
    text-decoration: none;
}
.channel-picker>ul>li>a:active, .router-link-active{
    border-left: 5px solid darkcyan !important;
    background: rgba(80, 80, 80, 0.6) !important;
    margin: 0 !important;
    
    text-decoration: none !important;
}
.channel-picker>ul>li>a:hover, .channel-picker>ul>li>a:active, .channel-picker>ul>li>a:focus {
    outline: 0;
}
.channel-picker>ul>li>a:hover span, .router-link-active span{
    background: transparent;
    font-size: 17px;
    transition: all 0.35s ease;
}
.channel-abr, .channel-comment, .channel-picker>ul>li>a{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.add-post{
    position: relative;
    top: 0px;
    width: 100%;
    text-align: right;
    transition: all 0.2s ease;
}
.add-post>textarea{
    background:rgba(255,255,255,0.05);
    color:white;
    border: 0;
    top: 0px;
    right: 0px;
    border: 1px solid white;
    font-size: 12px;
    width:100%;
}
.add-post-inactive{
    top: -170px;
    margin: 0;
    padding: 0;
    height: 0px;
    margin-bottom: 30px;
}
.channel-info{
    position: fixed;
    top:0px;
    font-size: 55px;
    color:#DDD;
    margin-left: 0.65em;
    margin-top: 0.1em;
}
.toggle-form {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 20px;
    text-align: center;
    background: transparent;
}
.posts{
    background: transparent;
    height: auto;
    padding-bottom: 15px;
    min-height: 100px;
    transition: all .3s ease-out;
    position: relative;
    border-bottom: 1px solid white;
    padding-top: 15px;
}
.posts:hover{
    cursor: pointer;
    background: rgba(150, 150, 150, 0.2);
}
.post-button{
    margin-left: 10px;
}
.post-button, .browse-button, .toggle-form{
    padding-bottom: 2px;
    font-size: 16px;
    background:transparent;
    border:none;
    border-bottom: 1px solid #EEE;
    color: #EEE;
}
.post-button:hover, .browse-button:hover, .toggle-form:hover{
    color: orangered;
    transition: all 1s ease;
    border-color: orangered;
}
.add-post>label{
    color:#999;
}
.text-content{
    padding-top: 5px;
    margin-left: 120px;
    color: white;
}
.post-stats{
    position: absolute;
    font-size: 12px;
    top: 0px;
    right: 0px;
    text-align: right;
    color:#BBB;
    font-family: "BankGBold";
    border-bottom: 1px solid rgba(120, 120, 120, 0.5);
}
.ui-helper-hidden-accessible {
    display: none;
}
.comment-container{
    clear: both;
    margin-left: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;   
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.comment-container .posts{
    min-height: 50px;
    height: 50px;
    background: rgba(50, 50, 50, 0.2);
    margin: 0;
    width: 98.2%;
    border-radius: 0px;
    margin-top: 10px;
}
.comment-container .posts:hover{
    background: rgba(50, 50, 50, 0.6);
}
.comment-container .posts .arrows{
    margin-top: 12.5px;
}
.new-comment{
    position: absolute;
    right: -200px;
    top:20px;
    border-radius: 1px;
    border: 1px solid orangered;
    background-color: transparent;
    padding: 5px;
    text-align: center;
}
.new-comment::before{
    position: absolute;
    left: -16px;
    width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 16px solid rgba(255, 75, 0, 0.4);
	border-bottom: 12px solid transparent;
	border-left: 0px solid transparent;
    content: " ";
}
.new-comment textarea{
    display: block;
    height: 300px;
    margin-top: 5px;
    resize: none;
    border: 0;
    color: #AAA;
    background-color: rgba(80, 80, 80, 0.2);
    box-shadow: 0px 0px 3px orangered inset;
    padding: 5px;
}
.new-comment span{
    font-size: 16;
    font-weight: bold;
    color:#DDD;
}
.new-comment button{
    width: 100%;
    padding: 0px;
    margin: 0;
    margin-top: 5px;
    border: 1px solid #AAA;
    color:#AAA;
    font-weight:bold;
    background-color: rgba(250, 120, 0, 0.6)
}
.new-comment button:hover{
    background-color: #E5E5E5;
}
.new-comment button:active{
    background-color: #DADFDF;
}
/* todo remove this after implementing onmouseover open */
.post-open-handler{
    position: absolute;
    height: 100%;
    width:95%;
    margin-right: -15px;
}
.arrows {
	margin-top: 25px;
    margin-left: 12px;
    float: left;
}
.up-arrow {
	margin-bottom: 15px;
}
.up-arrow, .down-arrow {
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 16px solid #ccc;
	border-left: 12px solid transparent;
}
.down-arrow {
	border-top: 16px solid #ccc;
	border-right: 12px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 12px solid transparent;
}
.green-arrow {
    border-bottom-color: #4CBB17;
}
.app-loading{
    position: relative;
    color:red;
    text-align: center;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}
.app-loading-img{
    width: 50px;
    height:50px;
}
.loading-text{
    color: grey;
    font-family: "Segoe UI";
    text-align: center;
}

.rotate {
    position: absolute;
    transform: rotate(-180deg);
    margin-top: 2px;
}

#__bs_notify__{
    position: absolute;
    left:200px;
    bottom: 0px !important;
    width: 100px;
    height:30px;
}