<div class="channel-picker">
    <ul>
        <li *ngFor="#ch of channels">
            <a href="/{{ch.Abbrevation}}">
                <span class="channel-abr">/{{ch.Abbrevation}}</span>
                <span class="channel-comment">{{ch.Name}}</span>
            </a>
        </li>
    </ul>		
</div>
<add-post [socket]='socket' class="col-xs-offset-3 col-xs-8 col-lg-offset-4 col-lg-4 text-center"></add-post>
<div class="post-list col-xs-8 col-xs-offset-3">
	<div class="posts"  *ngFor="#post of posts" >
		<span class="post-open-handler" (click)="ToggleComments(post)"></span>
			<div class="text-content">
				<!-- TODO add image if exists -->
				<!--<div class="naslov"><b></b></div>-->
				<div class="tekst">{{post.text}}</div> 
			</div>
			<div class="comment-container" *ngIf="post.areCommentsVisible">
				<div class="posts" *ngFor="#comment of post.comments">
					<div class="arrows">
						<!-- TODO change arrows position/style -->
						<div class="up-arrow" (click)="comment.ToggleUpvote()" [ngClass]="{'green-arrow': comment.isUpvoted}"></div>
						<div class="down-arrow" (click)="comment.ToggleDownvote()" [ngClass]="{'red-arrow': comment.isDownvoted}"></div>
					</div>
					<div class="text-content">
						<div class="comment"><i>{{comment.text}}</i></div>
					</div>
				</div>
			</div>
		<div class="new-comment" *ngIf="post.areCommentsVisible">
			<span>Add your comment</span>
			<textarea [(ngModel)]="post.typedComment" (keyup)="post.ButtonPressed($event)" placeholder="Your comment here..." ></textarea>
			<button (click)="post.AddTypedComment()">Add</button>
		</div>
	</div>
</div>