<div class="channel-picker">
    <ul>
        <li *ngFor="#ch of channels">
            <a (click)="onSelect(ch)">
                <span class="channel-abr">/{{ch.Abbrevation}}</span>
                <span class="channel-comment">{{ch.Name}}</span>
            </a>
        </li>
    </ul>		
</div>
<add-post [socket]='socket' class="col-xs-offset-3 col-xs-8 col-lg-offset-4 col-lg-4 text-center"></add-post>
<div class="post-list col-xs-8 col-xs-offset-3 col-lg-7 col-lg-offset-3">
	<router-outlet></router-outlet>
</div>